.booking-details {
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  /* BookingDetailsComponent.css */

.blue-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .blue-button:hover {
    background-color: darkblue;
  }
  
  /* dashbord.css */
/* dashbord.css */

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Background with opacity for blur effect */
    backdrop-filter: blur(10px); /* Apply blur effect */
    z-index: 999; /* Ensure popup is on top of other content */
}

.popup {
    width: calc(50vw + 50vh);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close-button {
    background-color: #ff0000; /* Red background color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.close-button:hover {
    background-color: #cc0000; /* Darker red on hover */
}
