.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    width: 50vw; /* 50% of the viewport width */
    height: 50vh; /* 50% of the viewport height */
    z-index: 1000; /* Ensure it's above other elements */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Add some shadow for depth */
    border-radius: 10px; /* Rounded corners */
  }
  
  .popup-content {
    padding: 20px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
.some_para{
    position: absolute !important;
    width: 350px;
    margin-top: 1rem;
    text-align: justify;
}

.some_para h2{
    font-size: 1.4rem;
}